<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
</head>

<body>
    
    {{> header}}
    
    <p> {{uppertext pageTitle}}</p>
    <footer>Copyright Soumojit {{currentYear}} </footer>
</body>

</html>